
#header {
  background: #111;
  padding: 0px 0;
  height: 70px;
  color: #fff;
}

body {
  background: #fff;
  color: #666666;
}
.page-info{
	text-align: center;
}

.main-title{
	color: #fff;
	text-align: left;
	font-weight: 600;
	font-size: 30px;
}

.main-menu{
	margin-top: 100px;
}

.main-menu .menu-item{
	padding: 30px;
	background-color: #03C4EB;
	margin: 30px;
	font-weight: 600;
	font-size: 22px;
	color:#000;
	height: 100px;
	text-align: center;
}

.main-menu .menu-item:hover{
	background-color: #fff;
	border: 1px solid #03C4EB;
	transition: 0.3s;
}

.add-new{
	padding: 10px;
	margin: 15px;
	background-color: #03C4EB;
	color: #000;
}

.add-new:hover{
	background-color: #fff;
	border: 1px solid #03C4EB;
}

#footer {
  background: #111;
  padding: 10px 0;
  color: #fff;
  position:relative;
  bottom:0;
  width: 100%;
  text-align: center;
}

#footer .copyright {
  text-align: center;
}